* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* This is a body section */
body {
    background-color: #d9dcd6;
}
/* This is a class of header section */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
  /* This is a  class of header (h1) */
header h1 {
    display: inline-block;
    font-size: 48px;
}
/* This is a  class of header (h1) */
header h1 .seo {
    color: #d9dcd6;
}

/* This is a  class of header (nav) */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* This is a  class of header (nav  ul) */
header nav ul {
    list-style-type: none;
}
/* This is a  class of header (nav ul li) */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}
/* This is hero class */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* class of float left */
.float-left {
    float: left;
    margin-right: 25px;
}
/* class of float right */
.float-right {
    float: right;
    margin-left: 25px;
}
/* content class */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* what we offer*/
.what-we-offer {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.what-we-offer img {
    max-height: 200px;
}

.what-we-offer h2 {
    margin-bottom: 20px;
    font-size: 36px;
}


/* benefits class */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* class benefits lead  */
.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}

/* class benefit lead */
.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* class benefit lead */
.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
